@using System
@using System.Net
@using MiningCore.Models
@using MiningCore.Utils
@using MiningCore
@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Routing
@using Microsoft.Extensions.Options

@inject WebpackStatsProvider webpackStatsProvider;
@inject IOptions<AppConfig> appConfig

@{
    ViewData["topbar-class"] = "hero";
}

<section class="inset hero">
    <div class="content row">
        <div class="col-sm-12 col-lg-6">
            <div class="wrap">
                <h1 class="uppercase">Welcome to @(appConfig.Value.PoolName)</h1>
                <h2>Our mining pool was carefully crafted to our core values of Fairness, Reliability and Performance.</h2>
                <h2>The pool runs on a highly-scalable, multi-currency, open-source stratum engine <a href="https://github.com/coinfoundry/mining-core">developed in-house</a> which is actively developed and properly maintained. This combined with geo-redundant hosting and automatic failover ensures smooth pool operation and timely payouts for our miners.</h2>
                <a class="btn btn-outline-success uppercase download-button" asp-controller="Pool" asp-action="Faq">FAQ</a>
            </div>
        </div>

        <div class="col-lg-6 hidden-md-down" style="position: relative;">
            <div class="screenshot-montage"></div>
        </div>
    </div>
</section>

<section class="inset formats">
    <div class="content row">
        <div class="col-sm-12 col-lg-4 secure">
            <h3>Secure</h3>
            <h4>Your master password never leaves your device, so only you can access your encrypted notes - not even we can. All of your data is sealed with AES-256 bit encryption, and PBKDF2-SHA-256 (100k Iterations).</h4>
        </div>
        <div class="col-sm-12 col-lg-4 xplatform">
            <h3>Cross Platform</h3>
            <h4>Ciphernote will be initially released for Windows Desktop and Tablets. Versions for other platforms such as macOS, Android and iOS following after the Windows Beta Phase.</h4>
        </div>
        <div class="col-sm-12 col-lg-4 reliable">
            <h3>Reliable</h3>
            <h4>Your notes only leave your devices in encrypted form and are stored in the cloud. As additional protection we replicate your (encrypted) notes to multiple data-centers in different geographic regions.</h4>
        </div>
    </div>
</section>
