*.suo
*.user
*.sln.docstates
.vs/
.vscode/

[Dd]ebug/
[Rr]elease/
x64/
build/
[Bb]in/
[Oo]bj/
*.VC.db
*.VC.opendb

[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.o
*.so
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.log
*.scc

ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

*.psess
*.vsp
*.vspx

*.gpState

_ReSharper*/
*.[Rr]e[Ss]harper

_TeamCity*

*.dotCover

*.ncrunch*
.*crunch*.local.xml

[Ee]xpress/

*.Publish.xml
*.pubxml.user

project.lock.json

csx
*.build.csdef

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.[Pp]ublish.xml
*.pfx
*.publishsettings

# SQL Server files
App_Data/*.mdf
App_Data/*.ldf

#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store

#############
## Ignore Logs
#############

logs/

src/Miningcore/config.json
src/Miningcore/config2.json
/src/Miningcore/coins2.json

!**/lib/**/*
