<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--
    Configure your application settings in appsettings.json. Learn more at http://go.microsoft.com/fwlink/?LinkId=786380
  -->

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" forwardWindowsAuthToken="false"/>

    <!-- OW: Static Content Caching -->
    <staticContent>
      <clientCache cacheControlCustom="public" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" cacheControlMode="UseExpires" />
    </staticContent>

    <!-- OW: Compression -->
    <urlCompression doDynamicCompression="true" dynamicCompressionBeforeCache="true" />

    <!-- OW: Strict Transport Security -->
    <rewrite>
      <rules>
        <rule name="Force WWW and SSL" enabled="true" stopProcessing="true">
          <match url="(.*)" />
          <conditions logicalGrouping="MatchAny">
              <add input="{HTTP_HOST}" pattern="^[^www]" />
              <add input="{HTTPS}" pattern="off" />
          </conditions>
          <action type="Redirect" url="https://www.ciphernote.net/{R:1}" appendQueryString="true" redirectType="Permanent" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="HSTS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000;" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
